.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.row {
    display: flex;
    flex-direction: row;
    min-height: 150px;
    width: 90%;
    justify-content: center;
    position: relative;
}

.row::before {
    content: "";
    position: absolute;
    background-color: #fff;
    height: 25%;
    width: 5px;
}

.row::after {
    content: "";
    position: absolute;
    background-color: #fff;
    top: 75%;
    height: 25%;
    width: 5px;
}

.row:last-child::after {
    height: 0;
}

.event {
    flex-basis: 47.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row:nth-child(even) {
    flex-direction: row-reverse;
}

.event-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: 20px;
    padding: 20px;
    background-color: #495057;
    border-radius: 20px;
    box-shadow: rgba(255, 255, 255, 0.88) 0px 1px 3px, rgba(255, 255, 255, 0.86) 0px 1px 2px;
}

.row:nth-child(even) .event-card {
    align-items: flex-start;
}

.event-title {
    margin-bottom: 10px;
}

.event-description {
    margin-top: 10px;
    text-align: end;
}

.row:nth-child(even) .event-description {
    text-align: start;
}

.timeline-badge-container {
    flex-basis: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline-badge {
    background-color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.event-date-container {
    flex-basis: 47.5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.row:nth-child(even) .event-date-container {
    justify-content: flex-end;
}

.event-date {
    margin: 10px;
}
